a{
    /* color:black !important; */
}
.nav-color{
    background-color:#1F2937;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
@media screen and (max-width:700px)
{
    .dropdown{
        display:flex;
        text-align: end;
    }
    /* .teacher-route{
        display: none !important;
    } */
    /* .student-route{
        display: none !important;
    } */
    /* .add-course{
        display: none !important;
    } */
    /* .logout{
        display: none !important;
    } */
}